{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
    <div class="container">
        <div class="p-3">
            <h2>Votre panier</h2>
        </div>
        {% if items| length>0 %}
            <table class="table">
                <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantite</th>
                    <th>Total</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.produit.label }}</td>
                        <td>{{ item.produit.prix }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.quantity*item.produit.prix }}</td>
                        <td>
                            <a href="{{ path('cart_remove',{'id':item.produit.id}) }}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3" class="text-rigth">Total : </td>
                    <td>{{ total }}</td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        {% else %}
            <p>Surprise, c'est vide !</p>
        {% endif %}
    </div>
    {{ include('partials/footer.html.twig') }}
{% endblock %}

