{% extends 'base.html.twig' %}
{% block title %}Hello CartController!
{% endblock %}

{% block body %}
<div class="container">


    <div class="bg-light p-3">
        <h1>Votre panier</h1>
    </div>
    {% if items| length>0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantite</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.produit.label }}</td>
                    <td class="prixArticle"> {{ item.produit.prix }} </td>
                    <td><span class="article-minus ">{{ item.quantity }}</span></td>
                    <form class="myForm" method="POST" style="display: inline-block"
                          action="{{ path('cart_add_api',{'id':item.produit.id}) }}" >
                        <td>
                            <input class="minus" type="button" style="width: 20%" value="-">
                            <input class="plus" type="button" style="width: 20%" value="+">
                        </td>
                    </form>
                    <td class="qtePrix">{{ item.quantity*item.produit.prix }}</td>
                    <td>
                        <a href="{{ path('cart_remove',{'id':item.produit.id}) }}" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3" class="text-rigth">Total :</td>
                <td id="total">{{ total }}</td>
                <td></td>
            </tr>
            </tfoot>
        </table>
    {% else %}
        <p>Surprise, c'est vide !</p>
    {% endif %}
    <div class="alert alert-info clearfix">
        <a href="{{ path('command_index') }}"  class=" alert-lin btn btn-primary btn-lg pull-right">Commnader
        </a>
    </div>
</div>
{% endblock %}

{% block javascripts %}

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="/js/panier.js"></script>


{% endblock %}

