{% extends 'base.html.twig.' %}

{% block title  %}Panier{% endblock %}

{% block body %}
    <div class="container mt-3">

        <h2>Mon panier</h2>
        <div class="col-md-10">
            {% for type, flash_messages in app.session.flashBag.all %}
                {% for msg in flash_messages %}
                    <div class="alert alert-{{ type }}">
                        {{ msg }}
                    </div>
                {% endfor %}
            {% endfor %}
            <table class="table table-striped table-hover" width="100%">
                <thead>
                <tr>
                    <th>Références</th>
                    <th>Nom</th>
                    <th></th>
                    <th>Quantité</th>
                    <th>PrixUT</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% if  items | length == 0  %}
                    <tr>
                        <td colspan="6" class="text-center">Panier est vide</td>
                    </tr>
                {% endif %}
                {% set somme = 0 %}
                {% for item in items  %}
                    <form  action="{{ path('cart_add',{"id": item.produit.id}) }}"  method="post">
                        <tr>
                            <td>{{ item.produit.id }}</td>
                            <td>{{ item.produit.label }}</td>
                            <td>
                                <img  class="image-style-thumb" src="{{ item.produit.imageProduit }}" height="40" alt="{{ item.produit.label }}" />
                            </td>
                            <td class="form-inline">
                                {{ panier[item.produit.id] }}&nbsp;
                                <input class="form-control" type="number" style="width: 30%" max="99" min="1" name="qte"  onchange="this.form.submit()"/>
                                &nbsp;<a href="{{ path('cart_remove',{"id": item.produit.id}) }}"><i  class="fa fa-trash"></i></a>
                            </td>
                            <td>{{ item.produit.getFormatPrice }} €</td>
                            <td>{{ (item.produit.prix * panier[item.produit.id])|number_format(0, '', '.') }} €</td>
                        </tr>
                        {% set somme = somme + item.produit.prix * panier[item.produit.id]%}
                    </form>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="5" class="text-right">Total Commande:</th>
                    <th> {{ somme|number_format(0, '', '.') }} €</th>
                </tr>
                </tfoot>

            </table>
            <p class="card-text">
                <a class="btn btn-primary" role="button"  href="">Vider le panier</a>
            </p>
        </div>
        <div class="col-md-4"></div>
    </div>

{% endblock %}


