{% extends 'base.html.twig' %}

{% block title %}Page attente activation{% endblock %}

{% block body %}
    <h1>Délai de validation du  lien envoyé par mail  dépassé </h1>
    <br>
    <p>Bonjour,le délai de validation de votre compte est dépasse (15 minutes ) merci de bien vouloir vous ré-inscrire
    afin de recevoir un nouveau lien qui validera votre compte </p>
    <br>
    <button><a href="{{ path('account_registration') }}">M'INSCRIRE</a></button>
{% endblock %}
