{% extends 'base.html.twig' %}

{% block title %}Page attente activation lien reset mot de passe {% endblock %}

{% block body %}
    <h1>En attente d'activation du lien envoyé par mail </h1>
    <br>
    <p>Bonjour,vos informations ont bien été enregitrées un mail vous a été envoyé : </p>
    <br>
    <p>Nous vous avons envoyé un mail contenant un lien à renvoyer afin d'initialiser vore mot de passe ,merci de cliquer sur le lien envoyé par mail </p>
{% endblock %}
