{% extends 'base.html.twig' %}

{% block title %}Page attente activation{% endblock %}

{% block body %}
    <h1>En attente d'activation du lien envoyé par mail </h1>
    <br>
    <p>Bonjour,vos informations ont bien été enregitrées  </p>
    <br>
    <p>Afin de profiter pleinement de votre site internet , veuillez svp cliquer sur le lien envoyé dans votre boite mail ,merci.</p>
{% endblock %}
