{% extends 'base.html.twig' %}

{% block title %} Confirmation validation de compte {% endblock %}
{% block body %}
    <h1 class="text-center">FELICITATIONS VOTRE COMPTE A BIEN ETE ACTIVE</h1>
<a href="{{ path('account_login') }}"><button class="btn btn-primary"> ME CONNECTER </button></a>


{% endblock %}
