{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form)}}
    <input type="submit"  class="btn btn-primary"  value="S'inscire">
    {{ form_end(form) }}

{% endblock %}
