{% extends 'base.html.twig' %}

{% block title %}Page de Connexion au site {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="bg-light py-3 px-3">
                    <h1>Connectez vous </h1>
                    {% if error %}
                        <div class="alert alert-danger">
                            <div class="row">
                                <div class="col">
                                    Une erreur est survenue : informations erronées!!!
                                </div>
                                <div class="col">
                                    <div>
                                        {{ error.messageKey | trans (error.messageData,'security') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <form action="{{ path('account_login') }}" method="post">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" name="_username" id="email" class="form-control"
                                   placeholder="Adresse email.." value="{{ lastUserName }}" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe </label>
                            <input type="password" name="_password" id="password" class="form-control"
                                   placeholder="Mot de passe " required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info">Me connecter</button>
                        </div>
                    </form>
                    <p class="text-center"><a href="{{ path('account_forgotPassword') }}">Mot de passe oublié ? </a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

