{% extends 'base.html.twig' %}

{% block title %}Reset Password {% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form)}}
    <input type="submit"  class="btn btn-primary"  value="Valider">
    {{ form_end(form) }}

{% endblock %}
