{% extends 'base.html.twig' %}

{% block title  %}{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{form_widget(form) }}
    <input type="submit" class="btn btn-primary" value="Soumettre">
    {{ form_end(form) }}

{% endblock %}
