{% extends 'base.html.twig' %}

{% block title %}Hello TypeController!{% endblock %}

{% block body %}
    {% for type in types %}
        <p><a href="{{ path('type_show',{'id':type.id}) }}">{{ type.label }}</a></p>
        {% for typeProduit in type.produits %}
            <div class="row">
                <div class="col">
                    {{ typeProduit.label }}
                </div>
                <div class="col">
                    <a href="{{path('produit_show',{'id':typeProduit.id}) }}" class="btn btn-info">show</a>
                </div>
            </div>


            {% endfor %}
    {% endfor %}
{% endblock %}
