{% extends 'base.html.twig' %}

{% block title %}Hello TypeController!{% endblock %}

{% block body %}
    {% for type in types %}
        <p><a href="{{ path('type_show',{'id':type.id}) }}">{{ type.label }}</a></p>
    {% endfor %}
{% endblock %}
