{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/accueil.css')}}">
{% endblock %}

{% block body %}

    <div class="gauche">
        <h2>Maison</h2>
    </div>
    <div class="droite">
        <h2>Barthelemy</h2>
    </div>

    <h1>Maison barthelemy, des petits plat tout en douceur</h1>

    <div class="nav">
        <ul>
            <li><a href="{{ path('home')}}">Boulangerie</a></li>
            <li>Notre équipe</li>
            <li>Contact</li>
        </ul>
    </div>

    <div class="social">
        <ul>
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-instagram"></i></li>
            <li><i class="fa fa-twitter"></i></li>
        </ul>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        TweenMax.to('.gauche', 2, {
            delay: 1.5,
            top: "-150%",
            ease: Expo.easeInOut
        })
        TweenMax.to('.gauche h2', 2, {
            delay: 1,
            opacity: 0,
            y: -100,
            ease: Expo.easeInOut
        })
        TweenMax.to('.droite', 2, {
            delay: 2.5,
            top: "+100%",
            ease: Expo.easeInOut
        })
        TweenMax.to('.droite h2', 2, {
            delay: 2,
            opacity: 0,
            y: +60,
            ease: Expo.easeInOut
        })


        TweenMax.from(".nav", 2, {
            delay: 3,
            opacity: 0,
            y: -60,
            ease: Expo.easeInOut
        })
        TweenMax.from(".social", 2, {
            delay: 3,
            opacity: 0,
            y: 360,
            ease: Expo.easeInOut
        })
        TweenMax.from("h1", 2, {
            delay: 3,
            opacity: 0,
            x: 360,
            ease: Expo.easeInOut
        })
    </script>
{% endblock %}
