{% extends 'base.html.twig' %}

{% block title %}{% trans %} Home Page {% endtrans %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/carte.css')}}">
    <link rel="stylesheet" href="{{ asset('css/information.css')}}">
{% endblock %}

{% block body %}

    {{ include('partials/header.html.twig') }}


    <div class="main container-fluid" id="produitJour">
        <section class="container">
            <div class="produitJour">
                <h2 class="product">
                    <img src="{{ asset('img/star.svg') }}" alt="section produit à la une">
                    {% trans %} Product of day {% endtrans %} :
                </h2>
                <div class="row mt-4">
                    {% for produit in produits %}
                        {{ include('partials/carte.html.twig') }}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>


    <div class="container-fluid para1 d-flex flex-column justify-content-center align-items-center">
        <h2 class="display-1 text-center text-white appear">Lorem ipsum dolor sit amet.</h2>
        <p class="lead text-center text-white appear">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda consectetur deleniti dolorum eveniet magnam mollitia non? Quae, quas soluta.
        </p>
    </div>


    <div class="main container-fluid" id="produitPromo">
        <section class="container">
            <div class="produitPromo">
                <h2 class="product">
                    <img src="{{ asset('img/shout.svg') }}" alt="section produit à saisir">
                    {% trans %} Promotional product {% endtrans %} :
                </h2>
                <div class="row mt-4">
                    {% for produit in produitsPromo %}
                        {{ include('partials/carte.html.twig') }}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>

    <div class="main container-fluid">
        <section class="container">
            <div id="information-general" class="information-general">
                <h2 class="product">
                    <img src="{{ asset('img/information.svg') }}" alt="section information">
                    {% trans %} Why come to us {% endtrans %} ?
                </h2>
                <div class="information text-center mt-5 mb-5">
                    <div class="cercle c1 digit1">
                        <p>
                            <img src="{{ asset('img/brain.svg') }}" alt="savoir-faire">
                        </p>
                        <p class="black">{% trans %} Traditional know-how {% endtrans %}</p>
                        <p class="">
                            {% trans %}There is nothing more delicious than a good freshly baked,
                            crispy bread. Made from traditional French flour,
                            our products guarantee freshness and exquisite flavour.{% endtrans %}
                        </p>
                    </div>
                    <div class="cercle c2 digit2">
                        <p>
                            <img src="{{ asset('img/premium.svg') }}" alt="Notre secret">
                        </p>
                        <p class="black">{% trans %} Our secret {% endtrans %}</p>
                        <p class="">
                            {% trans %}Healthy ingredients, a pinch of creativity and a lot of know-how -
                                that's our recipe!{% endtrans %}
                        </p>
                    </div>
                    <div class="cercle c3 digit3">
                        <p>
                            <img src="{{ asset('img/friends.svg') }}" alt="">
                        </p>
                        <p class="black">{% trans %} Home sweet Home{% endtrans %}</p>
                        <p class="">
                            {% trans %}You will feel at home with us.
                                Our attentive staff is attentive to your needs.{% endtrans %}
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="container-fluid para2 d-flex flex-column justify-content-center align-items-center">
        <h2 class="display-1 text-center text-white appear2">Lorem ipsum dolor sit amet.</h2>
        <p class="lead text-center text-white appear2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda consectetur deleniti dolorum eveniet magnam mollitia non? Quae, quas soluta.
        </p>
    </div>

    <div class="main container-fluid">
        <section class="map">
            <div class="container">
                <h2 class="product mb-5">
                    <img src="{{ asset('img/gps.svg') }}" alt="section map">
                    {% trans %} Where to find us{% endtrans %} !
                </h2>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11148.057484686104!2d4.9378109!3d45.6906836!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa0a171c0387ac0e9!2sBoulangerie%20Banette%20Maison%20Barthelemy%20%26%20Pizzeria%20L&#39;Annexe!5e0!3m2!1sfr!2sfr!4v1600265231360!5m2!1sfr!2sfr" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </section>
    </div>

    {{ include('partials/footer.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script>
        const allLetters = document.querySelectorAll('.bloc-header span');
        const ligneMaison = document.querySelector('.ligne-maison');
        const ligneBarthelemy = document.querySelector('.ligne-barthelemy');
        const TLLetters = gsap.timeline()

        TLLetters
            .from(ligneMaison, {width: '0%', opacity: 0, duration: 0.7, ease: "power1.in"})
            .from(ligneBarthelemy, {width: '0%', opacity: 0, duration: 0.7, ease: "power1.in"})
            .from(allLetters, {opacity:0, top: gsap.utils.wrap([200,-200]), stagger: 0.1, ease: "power2.out"})
            .set(ligneMaison, {width: '30vw'})
            .set(ligneBarthelemy, {width: '45vw'})

        const controller = new ScrollMagic.Controller();

        let scene1 = new ScrollMagic.Scene({
            triggerElement: '.appear',
            reverse: false
        })
            .setClassToggle('.appear', 'fade-in')
            /*.addIndicators({
                name: 'INDICATORS',
                indent: 200,
                colorStart: 'transparent'
            })*/
            .addTo(controller);

        let scene2 = new ScrollMagic.Scene({
            triggerElement: '.appear2',
            reverse: false
        })
            .setClassToggle('.appear2', 'fade-in')
            .addTo(controller);

        let scene3 = new ScrollMagic.Scene({
            triggerElement: '.digit1',
            offset: 10,
            triggerHook: 0.5,
            reverse: false
        })
            .setClassToggle('.digit1', 'visible')
            // .addIndicators({
            //     name: "digit1",
            //     colorStart : 'red',
            //     colorTrigger : 'red'
            // })
            .addTo(controller);

        let scene4 = new ScrollMagic.Scene({
            triggerElement: '.digit2',
            offset: 70,
            triggerHook: 0.5,
            reverse: false
        })
            .setClassToggle('.digit2', 'visible')
            // .addIndicators({
            //     name: "digit2",
            //     colorStart : 'green',
            //     colorTrigger : 'green'
            // })
            .addTo(controller);

        let scene5 = new ScrollMagic.Scene({
            triggerElement : '.digit3',
            offset: 130,
            triggerHook: 0.5,
            reverse: false
        })
            .setClassToggle('.digit3', 'visible' )
            // .addIndicators({
            //     name: "digit3",
            //     colorStart : 'black',
            //     colorTrigger : 'black'
            // })
            .addTo(controller);

        $(".carousel-slider").owlCarousel({
            margin: 20,
            loop: true,
            autoplay: true,
            autoplayTimeout: 4000,
            autoplayHoverPause: true,
            responsive: {
                0:{
                    items:1,
                    nav: false
                },
                600:{
                    items:3,
                    nav: false
                },
                1000:{
                    items:4,
                    nav: false
                },
                1500:{
                    items:5,
                    nav: false
                },
            }
        })
    </script>
{% endblock %}