<div class="col-md-4">
    <div class="laCarte">
        <div class="devant">
            <img class="divImg" src="{{ vich_uploader_asset(produit, 'imageFile') }}" alt="">
            <div class="title-info">
                <div class="title">
                    {{ produit.label }}
                </div>
                <div class="price">
                    {{ produit.prix | format_currency('EUR') }}
                </div>
            </div>
        </div>
        <div class="carte">
            <div class="titre">
                {{ produit.label }}
                <hr>
            </div>
            <div class="info">
                Allergène :
                {% for ingredient in produit.ingredients %}
                    {% if ingredient.isAllergen == true %}
                        {{ ingredient.label }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="btnSection">
                <a href="{{ path('produit_show',{'id':produit.id}) }}">Voir plus</a>
            </div>
        </div>
    </div>
</div>
