<footer>

    <div class="contenu-footer">

        <div class="bloc footer-services">
            <h3>{% trans %} Services {% endtrans %}</h3>
            <ul class="liste-services">
                <li><a href="#">{% trans %} Bakery {% endtrans %}</a></li>
                <li><a href="#">{% trans %} Order {% endtrans %}</a></li>
                <li><a href="#">{% trans %} Delivery {% endtrans %}</a></li>
                {#<li><a href="#">{% trans %} Pizzeria {% endtrans %}</a></li>#}
            </ul>
        </div>

        <div class="bloc footer-contact">
            <h3>{% trans %} Contact {% endtrans %}</h3>
            <p>04 37 25 97 47</p>
            <p>maison.barthelemy@orange.fr</p>
            <p>8 Rue Henri Maréchal, 69800 Saint-Priest</p>
        </div>

        <div class="bloc footer-horaires">
            <h3>{% trans %} Schedules {% endtrans %}</h3>
            <ul class="liste-horaires">
                <li>✔️ {% trans %} Mon 6am - 7pm{% endtrans %}</li>
                <li>✔️ {% trans %} Tue 6am - 7pm {% endtrans %}</li>
                <li>✔️ {% trans %} Wed 6am - 7pm {% endtrans %}</li>
                <li>✔️ {% trans %} Thu 6am - 7pm {% endtrans %}</li>
                <li>✔️ {% trans %} Fri 6am - 7pm {% endtrans %}</li>
                <li>✔️ {% trans %} Sun 6am - 7pm {% endtrans %}</li>
                <li>✔️ {% trans %} Son 7am - 1pm {% endtrans %}</li>
            </ul>
        </div>

        <div class="bloc footer-medias">
            <h3>Nos réseaux</h3>
            <ul class="liste-media d-flex justify-content-center">
                <li>
                    <a href="#">
                        <img src="{{ asset('img/facebook.svg') }}" alt="icones réseaux sociaux">

                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{ asset('img/instagram.svg') }}" alt="icones réseaux sociaux">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{ asset('img/twitter.svg') }}" alt="icones réseaux sociaux">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; Tous droits réservés parzivalDesign<p>
    </div>
</footer>