{#{{ include('partials/sidebar/sidebar.html.twig') }}#}
{{ include('partials/menu.html.twig') }}
<header>
    <img class="d-block w-100" src="{{ asset('images/image_boulangerie/photo3_carousel.png') }}" alt="Four slide">
    <div class="bloc-header">
        <div class="bloc-maison">
            <span>M</span>
            <span>A</span>
            <span>I</span>
            <span>S</span>
            <span>O</span>
            <span>N</span>
            <div class="ligne-maison"></div>
        </div>
        <div class="bloc-barthelemy">
            <span>B</span>
            <span>A</span>
            <span>R</span>
            <span>T</span>
            <span>H</span>
            <span>E</span>
            <span>L</span>
            <span>E</span>
            <span>M</span>
            <span>Y</span>
            <div class="ligne-barthelemy"></div>
        </div>

        <div class="ligne"></div>
    </div>
</header>

{{ include('partials/slider.html.twig') }}





