<div id="sticky-header-navigation" class="section-menu-navigation">
    <nav class="menu-navigation">
        <ul>
            <li class="nav-item item-navigation pain mr-1"><a href="{{ path('produit_pain') }}">{% trans %}Bread{% endtrans %}</a></li>
            <li class="nav-item item-navigation salade ml-1 mr-1"><a href="{{ path('produit_salade') }}">{% trans %}Salad{% endtrans %}</a></li>
            <li class="nav-item item-navigation sandwich ml-1 mr-1"><a href="{{ path('produit_sandwich') }}">{% trans %}Sandwich{% endtrans %}</a></li>
            <li class="nav-item item-navigation pastry ml-1 mr-1"><a href="{{ path('produit_viennoiserie') }}">{% trans %}Pastry{% endtrans %}</a></li>
            <li class="nav-item item-navigation cake ml-1 mr-1"><a href="{{ path('produit_patisserie') }}">{% trans %}Cake{% endtrans %}</a></li>
            <li class="nav-item item-navigation boisson ml-1"><a href="{{ path('produit_boisson') }}">{% trans %}Drink{% endtrans %}</a></li>
        </ul>
    </nav>
</div>