<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Boulangerie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">{% trans %} Home {% endtrans %}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdministration" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans %} Menu types {% endtrans %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% set labels = ['Boisson','Pain','Dessert','Salades','Sandwich','Viennoiserie'] %}
                    {% for label in labels | sort%}
                        <a class="dropdown-item lien" href="{{ path('admin_type_menu',{'label':label}) }}">{{ label }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans %}All product{% endtrans %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('admin_produit') }}">{% trans %}List of products{% endtrans %}</a>
                    <a class="dropdown-item" href="{{ path('admin.ingredient.index') }}">{% trans %}List of ingredients{% endtrans %}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('admin_produit_create') }}">{% trans %}New product{% endtrans %}</a>
                    <a class="dropdown-item" href="{{ path('admin.ingredient.create') }}">{% trans %}New ingredient{% endtrans %}</a>
                </div>
            </li>
        </ul>
        <ul class="form-inline my-2 my-lg-0">
            {% if app.user %}
                <li class="nav-item mr-5">
                    <a class="nav-link" href="{{ path('account_logout') }}">{% trans %} Logout {% endtrans %} ({{ app.user.email }})</a>
                </li>
            {% else %}
                <li class="nav-item mr-5">
                    <a class="nav-link" href="{{ path('account_registration') }}">{% trans %} Register {% endtrans %}</a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link" href="{{ path('account_login') }}">{% trans %} Login {% endtrans %}</a>
                </li>
            {% endif %}
            <li class="nav-item mr-5">
                <a href="{{ path('cart_index') }}">{% trans %}Cart{% endtrans %} <i class="fa fa-shopping-cart" aria-hidden="true" ><span class="cart_nbr" style="color: red">{{ app.session.get('panier')|length }}</span></i></a>
            </li>
            <li class="nav-item">
                {% for locale in locales %}
                    {% if locale != app.request.locale%}
                        <a class="nav-link" href="{{ path('change_locale', {'locale' : locale}) }}">
                            <img class="translation-flag" src="{{ asset('img/'~locale~'.png') }}" alt="{{ locale }}">
                        </a>
                    {% endif %}
                {% endfor %}
            </li>
        </ul>
    </div>
</nav>




