<ul>
    {% for locale in locales %}
        {% if locale != app.request.locale%}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('change_locale', {'locale' : locale}) }}">
                    <img class="translation-flag" src="{{ asset('img/'~locale~'.png') }}" alt="{{ locale }}">
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>

