<section class="slider-menu">
    <div class="wrapper">
        <div class="carousel-slider owl-carousel">
            <div class="card pain"><a href="{{ path('produit_pain') }}">{% trans %}Bread{% endtrans %}</a></div>
            <div class="card salade"><a href="{{ path('produit_salade') }}">{% trans %}Salad{% endtrans %}</a></div>
            <div class="card sandwich"><a href="{{ path('produit_sandwich') }}">{% trans %}Sandwich{% endtrans %}</a></div>
            <div class="card pastry"><a href="{{ path('produit_viennoiserie') }}">{% trans %}Pastry{% endtrans %}</a></div>
            <div class="card cake"><a href="{{ path('produit_patisserie') }}">{% trans %}Cake{% endtrans %}</a></div>
            <div class="card boisson"><a href="{{ path('produit_boisson') }}">{% trans %}Drink{% endtrans %}</a></div>
        </div>
    </div>
</section>