{% extends 'base.html.twig' %}

{% block title %}Hello IngredientController!{% endblock %}

{% block body %}
    {% for ingredient in ingredients %}
        <p><a href="{{ path('ingredient_show',{'id':ingredient.id}) }}">{{ ingredient.label }}</a></p>
    {% endfor %}
{% endblock %}
