{% extends 'base.html.twig' %}

{% block title %}Hello CommandController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Récapitulatif de votre commande </h1>
        <p>Commande n° {{ nCommandeProvisoireTest }}</p>
        <table class="table">
            <thead class="thead-dark">
            <th>Article</th>
            <th>Prix unitaire</th>
            <th>Quantite</th>
            <th>Total en Euros</th>
            </thead>
            {% for article in panier %}
                {% set totalArticle= article.produit.prix * article.quantity %}
                <tbody>
                <td>{{ article.produit.label }}</td>
                <td>{{ article.produit.prix }} </td>
                <td>{{ article.quantity }} </td>
                <td class="text-center">{{ totalArticle }} &euro;</td>
                </tbody>
            {% endfor %}
            <tfoot>
            <td colspan="2"></td>
            <td>Total commande</td>
            <td class="bg bg-info text-center">{{ total }}&euro;</td>
            </tfoot>
        </table>
                <div class="row">
                    <div class="col">
                        <div class="card bg-light mb-3">
                            <div class="card-header text-center">
                                <h3 class="text-center">Informations sur le client  </h3>
                            </div>

                        </div>
                        <div class="card-body">
                                    <h4 class="text-center">Vos coordonnées</h4>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-light mb-3">
                            <div class="card-header text-center">
                                <h3 class="text-center">Règlement de votre commande </h3>
                            </div>
                         </div>
                        <div class="card-body">
                                    <h4 class="text-center">Choix du mode de paiement </h4>
                                <form action="{{ path('command_payment') }}" method="post">
                                    <input type="hidden" name="prix" id="prix" value="{{ total }}">
                                    <button  type="submit"   class="btn btn-info"> Paiement CB par Stripe</button>
                                </form>
                        </div>

                    </div>
                </div>
    </div>

{% endblock %}
{% block javascripts %}

    <script>




    </script>


{% endblock %}

