{% extends'base.html.twig' %}
{% block title %}Paiement{% endblock %}
{% block body %}

    <div class="container">
        <form method="post">
            <div id="errors"></div>
            <input id="cardholder-name" type="text" placeholder="Nom du titulaire de la carte" required="true">
            <div id="card-elements">
            </div>
            <div id="card-errors" role="alert"></div>
            <input type="hidden" value="{{ path('cart_end_success') }}" id="url">
            <button id="card-button" type="button" data-secret="{{ intent['client_secret'] }}">Valider le paiement</button>
        </form>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/js/payment.js">   </script>

{% endblock %}
