{% extends 'base.html.twig' %}

{% block title %} Paiement success {% endblock %}
{% block body %}

    <div class="jumbotron text-center">
        <h1 class="display-3">Merci!!</h1>
        <p class="lead"><strong>Votre boulangerie pépare déjà votre commande , ne tardez pas <i class="fas fa-smile"></i> </strong> </p>
        <p class="lead">Un récapitulatif de votre commande vous a été envoyé par mail <i class="fas fa-envelope"></i>  </p>
        <hr>
        <p>
            En cas de problème :  <a href="">Contactez nous</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="{{ path('accueil') }}" role="button">Retour à l'accueil</a>
        </p>
    </div>

{% endblock %}
