html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    background: url(../images/image_boulangerie/IMG_4351.jpg);
    background-size: cover;
    overflow: hidden;
}
h1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "aleo", serif;
    color: #000;
    font-size: 60px;
    font-weight: 900;
    background: #fff;
    padding: 15px;
    border-radius: 20px;
}

.nav {
    line-height: 250px;
}

.nav ul {
    color: #fff;
    width: fit-content;
    margin: 0 auto;
    padding: 0;
}
.nav ul li {
    display: inline-block;
    list-style: none;
    font-size: 35px;
    font-family: 'Abril Fatface', serif;
    font-weight: 900;
    margin: 0 25px;
    text-align: center;
    cursor:pointer;
}

.social {
    color: #fff;
    position: absolute;
    left: 0;
    top: 15%;
}
.social ul li {
    margin-bottom: 50px;
    font-size: 30px;
    list-style: none;
}

.gauche {
    position: absolute;
    width: 50%;
    height: 100vh;
    background: url(../img/maison_barthelemy_gauche.jpg);
    top: 0;
    left: 0;
}

.gauche h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 90px;
    font-weight: bolder;
    letter-spacing: 12px;
    background: #fff;
}

.droite {
    position: absolute;
    width: 50%;
    right: 0;
    height: 100vh;
    top: 0;
    background: url(../img/maison_barthelemy_droite.jpg);
}

.droite h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 92px;
    font-weight: bolder;
    letter-spacing: 12px;
    background: #fff;
}





