*,::before, ::after, .container-fluid {
    margin: 0;
    padding: 0;
}
.navbar{
    z-index: 20;
}
.connexion{
    height: 30px;
}
.translation-flag{
    width: 50px;
    height: 50px;
}
.nav-item {
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #f7f7f7;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.bloc-header .bloc-maison,
.bloc-header .bloc-barthelemy{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloc-header .bloc-barthelemy{
    top: 40%;
}
.bloc-header span{
    font-size: 7vw;
    position: relative;
    letter-spacing: 10px;
    color: #7a2020;
}
.ligne-maison,
.ligne-barthelemy{
    width: 45vw;
    height: 15px;
    background-color: #f1f1f1;
    border-radius: 9999px;
    margin: 0 auto;
    position: absolute;
    z-index: 10;
}
.ligne-maison{
    width: 30vw;
}
span:nth-child(odd) {
    z-index: 11;
}
span:nth-child(even) {
    z-index: 9;
}

/* navigation menu */

.slider-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 20vh;
    transform: translateY(-80px);
}
.wrapper{
    width: 100%;
}
.wrapper .carousel-slider{
    max-width: 1800px;
    margin: auto;
    padding: 0 30px;
}
.carousel-slider .card{
    line-height: 150px;
    text-align: center;
    list-style-type: none;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,.2);
    transition: 0.3s all;
}
.carousel-slider .card:hover {
    z-index: 10;
    transform: scale(1.1);
    transition: 0.3s all;
    border-radius: 10px;
}
.carousel-slider .card a {
    color: white;
    text-decoration: none;
    font-size: 50px;
}
.pain {
    background: url(../images/pain-banner.jpg) no-repeat 100% 100%;
    background-size: cover;
}
.salade {
    background: url(../images/salade-banner.jpg) no-repeat 100% 100%;
    background-size: cover;
}
.sandwich {
    background: url(../images/sandwich-banner.jpg) no-repeat 100% 100%;
    background-size: cover;
}
.boisson {
    background: url(../images/jusfruit-banner.jpg) no-repeat 100% 100%;
    background-size: cover;
}
.pastry {
    background: url(../images/viennoiserie-banner.jpg) no-repeat 100% 100%;
    background-size: cover;
}
.cake {
    background: url(../images/patisseries-banner.jpg) no-repeat 100% 100%;
    background-size: cover;
}



/* PAGE PRINCIPALE */

.para1{
    background-image: url(../images/image_boulangerie/IMG_293200.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
    background-attachment: fixed;

}
.para2{
    background-image: url(../images/image_boulangerie/IMG_2940.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
    background-attachment: fixed;

}

h2.product{
    text-decoration: underline;
}

h2>img, p>img{
    display: inline;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

div.main{
    margin: 100px 0;
}

.appear, .appear2{
    opacity: 0;
    transition: all 0.4s linear;
}

.fade-in{
    opacity: 1;
}

.digit1, .digit2, .digit3{
    opacity: 0;
    transform: translateX(-40px);
    transition: all 0.9s linear;
}
.digit1.visible,
.digit2.visible,
.digit3.visible{
    opacity: 1;
    transform: none;
}

/* Produit-type */
.product-type{
    margin-bottom: 200px;
}
.number{
    width: 70px;
}




/* Creation Produit */
.imgVisu {
    width: 300px;
    min-height: 100px;
    border: 2px solid #ccc;
    color: #ccc;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.imgDw {
    width: 100%;
    display: none;
}

/* Product-list */

.titre-product-list{
    margin-top: 3vw;
}
.svg{
    width: 30px;
    height: 30px;
}




/* FOOTER */
footer {
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    background: #7a2020;
    color: #f1f1f1;
}
.contenu-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0;
}

.bloc {
    width: 25%;
    margin: 0 30px;
}

/* contact */
.footer-contact h3,
.footer-services h3,
.footer-horaires h3,
.footer-medias h3 {
    font-size: 25px;
    padding-bottom: 20px;
}

.footer-contact p {
    padding: 5px 0;
}

/* Services */


.liste-services,
.liste-horaires,
.liste-media {
    list-style-type: none;
}
.liste-services li {
    padding: 2px 0;
}
.liste-services a {
    text-decoration: none;
    color: #f1f1f1;
}
.liste-services a:hover {
    color: #f1f1f1;
}


/* Medias */

.liste-media {
    position: relative;
    right: 10px;
}
.liste-media img {
    width: 40px;
    margin: 10px 10px;
    transition: transform .8s ease-in-out;
}
.liste-media img:hover {
    transform: rotate(360deg);
}
.liste-media a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
}


/* Media queries */

@media screen and (max-width: 1300px) {
    .contenu-footer {
        width: 700px;
        flex-wrap: wrap;
    }
    .bloc {
        width: 40%;
        margin: 0 0;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 50px;
    }

}
@media screen and (max-width: 800px) {
    .contenu-footer {
        width: 320px;
    }
    .bloc {
        width: 300px;
        margin: 30px 30px;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 30px;
    }
    .bloc:nth-child(1) {
        margin-top: 0;
    }
}











