.item {
    background-color: #d6d6d4;
    margin: 20px;
    display: flex;
    cursor: pointer;
    transition: 0.3s all;
    width: 500px;
    height: 200px;
}

.item:hover {
    transform: scale(1.1);
    transition: 0.3s all;
}

.item:hover {
    transition: 0.3s all;
    box-shadow: -8px 8px 2px 1px rgba(0, 0, 0, .5);
}

.item-infos {
    padding: 20px;
    line-height: 40px;
}

.col-md-6 {
    font-family: 'Martel', serif;
}
.item-infos h3 {
    font-size: 25px;
}
.item-infos hr {
    margin: 10px 0 10px 0;
    opacity: 0.5;
}

p.prix {
    font-weight: bold;
    font-size: 22px;
}
