.laCarte{
    width: 330px;
    height: 260px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}
.laCarte:hover{
    transform: rotateY(180deg);
}
.devant{
    position: absolute;
    width: 330px;
    height: 260px;
    backface-visibility: hidden;
    background: #f1f1f1;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;

}
.title-info{
    display: grid;
    grid-template: 60px / repeat(3, 110px);
}
.title{
    grid-area: 1 / 1 / 2 / 3;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price{
    grid-area: 1 / 3 / 2 / 4;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carte {
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    width: 330px;
    height: 260px;
    background: #f1f1f1;
    display: grid;
    grid-template: 80px 100px 80px / repeat(3, 110px);
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
}
.divImg {
    width: 330px;
    height: 200px;
    background-size: cover;
    background-position: 50% 50%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    filter: brightness(90%);
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}
.titre {
    /* debut rangée / debut col / fin rang / fin col */
    grid-area: 1 / 1 / 2 / 4;
    font-size: 24px;
    font-weight: 500;
    padding: 20px;
}
hr {
    opacity: 0.8;
}
.info {
    grid-area: 2 / 1 / 3 / 4;
    padding: 5px 25px;
    font-size: 14px;
    text-align: justify;
}
.btnSection {
    grid-area: 3 / 1 / 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSection a {
    width: 200px;
    height: 30px;
    background: rgb(134, 87, 94);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e2e2e2;
    border-radius: 5px;
}
.background-carte{
    background-color: #f1f1f1;
    border-radius: 10%;
}
.product-img{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    width: 340px;
}