.information {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.cercle {
    color: black;
    padding: 60px;
    width: 500px;
    height: 350px;
    margin-right: -30px;
    mix-blend-mode: multiply;
}
.c1 {
    background: rgba(255, 227, 15, 0.7);
    border-radius: 31% 80% 70% 30% / 30% 32% 68% 70%;
}
.c2 {
    background: rgba(255,87,51, 0.7);
    border-radius: 75% 25% 17% 82% / 41% 59% 41% 59%;
}
.c3 {
    background: rgba(141,55,88, 0.7);
    border-radius: 24% 76% 16% 84% / 61% 59% 41% 39%;
}

p.black {
    color: black;
    font-weight: bold;
}