/* sidebar */

.sidebar {
    z-index: 10;
    background: rgba(122,32,32, .5);
    height: 100vh;
    min-height: 900px;
    width: 300px;
    position: fixed;
    right: -250px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.sidebar:hover {
    right: 0;
}
.b1, .b2, .b3 {
    background: #f1f1f1;
    position: absolute;
    border-radius: 5px;
}
.b1 {
    width: 2px;
    height: 300px;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
}
.b2 {
    width: 2px;
    height: 200px;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}
.b3 {
    width: 2px;
    height: 100px;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
}
.liste {
    list-style-type: none;
    font-size: 35px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.items {
    margin: 20px 0;
    padding-left: 20px;
}

.liste li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all;
}
.liste li:hover {
    transform: scale(0.90);
    transition: 0.3s all;
    border-radius: 10px;
}
.liste li a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 30px;
}

