#animate1{
    width: 100%;
    height: 100%;
    background-color: #ccc;
    display: flex;
    /*border: 10px solid #448ee4;*/
    border-radius: 20px;
}
h1{
    text-align: center;
    position: relative;
    top: 150px;
    font-size: 150px;
    margin: 0;
}
.box{
    position: relative;
    padding: 20px;
    width: 50%;
    height: 100%;
}
#ree{
    position: relative;
    width: 400px;
    height: 300px;
}
#reeTitle{
    font-size: 40px;
    margin-bottom: 0;
}
.listeRee{
    font-size: 20px;
    list-style: none;
}
.reeLi{
    margin-top: 10px;
}
hr{
    width: 280px;
    height: 2px;
    background-color: #222222;
    position: relative;
    margin-left: 0;
}

.box .add-cart{
    position: absolute;
    top: 280px;
    right: 100px;
}