{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
    {{ include('partials/header.html.twig') }}
        <h1>Liste des différents produits en vente </h1>
        <div class="container">
            <div class="row ">
                {% for produit in produits %}
                    <div class="col-md-4">
                        <div class="car bg-light mb-3" >
                            <div class="card-header text-center">
                                <p><a href="{{ path('produit_show',{'id':produit.id}) }}"> <p>{{ produit.label }} <strong>{{ produit.prix}} euros </strong><br>
                             </div>
                            <a href="{{ path('produit_show',{'id':produit.id}) }}">
                                <img src="{{ asset( 'images/produits/'~produit.imageProduit )}}" style="height: 200px;width:350px;display: block" ></a>
                            <p > Classification du produit : <strong>{{ produit.type.label }}</strong></p>
                            <a href="{{ path('cart_add',{'id':produit.id}) }}" class="btn btn-success float-right">
                                <i class="fas fa-shopping-cart mr-1"></i>
                                Ajouter
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
{% block javascripts %}
    <script>
        const allLetters = document.querySelectorAll('.bloc-header span');
        const ligneMaison = document.querySelector('.ligne-maison');
        const ligneBarthelemy = document.querySelector('.ligne-barthelemy');
        const TLLetters = gsap.timeline()

        TLLetters
            .from(ligneMaison, {width: '0%', opacity: 0, duration: 0.7, ease: "power1.in"})
            .from(ligneBarthelemy, {width: '0%', opacity: 0, duration: 0.7, ease: "power1.in"})
            .from(allLetters, {opacity:0, top: gsap.utils.wrap([200,-200]), stagger: 0.1, ease: "power2.out"})
            .set(ligneMaison, {width: '30vw'})
            .set(ligneBarthelemy, {width: '45vw'})

        const controller = new ScrollMagic.Controller();

        let scene1 = new ScrollMagic.Scene({
            triggerElement: '.appear',
            reverse: false
        })
            .setClassToggle('.appear', 'fade-in')
            /*.addIndicators({
                name: 'INDICATORS',
                indent: 200,
                colorStart: 'transparent'
            })*/
            .addTo(controller);

        let scene2 = new ScrollMagic.Scene({
            triggerElement: '.appear2',
            reverse: false
        })
            .setClassToggle('.appear2', 'fade-in')
            .addTo(controller);

        let scene3 = new ScrollMagic.Scene({
            triggerElement: '.digit1',
            offset: 10,
            triggerHook: 0.5,
            reverse: false
        })
            .setClassToggle('.digit1', 'visible')
            // .addIndicators({
            //     name: "digit1",
            //     colorStart : 'red',
            //     colorTrigger : 'red'
            // })
            .addTo(controller);

        let scene4 = new ScrollMagic.Scene({
            triggerElement: '.digit2',
            offset: 70,
            triggerHook: 0.5,
            reverse: false
        })
            .setClassToggle('.digit2', 'visible')
            // .addIndicators({
            //     name: "digit2",
            //     colorStart : 'green',
            //     colorTrigger : 'green'
            // })
            .addTo(controller);

        let scene5 = new ScrollMagic.Scene({
            triggerElement : '.digit3',
            offset: 130,
            triggerHook: 0.5,
            reverse: false
        })
            .setClassToggle('.digit3', 'visible' )
            // .addIndicators({
            //     name: "digit3",
            //     colorStart : 'black',
            //     colorTrigger : 'black'
            // })
            .addTo(controller);

        $(".carousel-slider").owlCarousel({
            margin: 20,
            loop: true,
            autoplay: true,
            autoplayTimeout: 4000,
            autoplayHoverPause: true,
            responsive: {
                0:{
                    items:1,
                    nav: false
                },
                600:{
                    items:3,
                    nav: false
                },
                1000:{
                    items:4,
                    nav: false
                },
                1500:{
                    items:5,
                    nav: false
                },
            }
        })
    </script>
{% endblock %}