{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
    {% for produit in produits %}
        <p>{{ produit.label }}  {{ produit.prix }}  </p>
        <img src="{{ produit.imageProduit }}" style="height: 200px;width:200px;display: block">
    {% endfor %}
{% endblock %}
