<div class="row">
    {% for produit in produits %}
        <div class="col-md-6">
            <div class="item">
                <a href="{{ path('produit_show',{'id':produit.id}) }}">
                    <img class="divImg product-img" src="{{ asset( 'images/produits/'~produit.imageProduit )}}" alt="image du produit" width="276" height="200">
                </a>
                <div class="item-infos">
                    <h3>{{ produit.label }}</h3>
                    <hr>
                    <p class="prix">{{ produit.prix }} €</p>
                    <p class="add-cart">
                        <form method="POST" style="display: inline-block" action="{{ path('cart_add',{'id':produit.id}) }}" >
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <input type="button" class="btn btn-success submitButton" value="Ajouter au panier" >
                                </div>
                            </div>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<a href="{{ path('home') }}" class="btn btn-primary">Retour</a>

