{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/showAnimate.css')}}">
    <link rel="stylesheet" href="{{ asset('css/slider.css')}}">
{% endblock %}

{% block body %}
    {{ include('partials/slider.html.twig') }}
    <div class="container mb-5">
        <div id="animate1">
            <div class="box">
                <img id="ree" src="{{ asset( 'images/produits/'~produit.imageProduit )}}" alt="image du produit {{ produit.label }}">
            </div>
            <div class="box">
                <h2 id="reeTitle">{{ produit.label }} - {{ produit.prix | format_currency('EUR') }} €</h2>
                <hr>
                <ul class="listeRee">
                    {% for ingredient in produit.ingredients %}
                        <li class="reeLi">{{ ingredient.label }}</li>
                    {% endfor %}
                </ul>

                <div class="add-cart">
                    <form method="POST" style="display: inline-block" action="{{ path('cart_add',{'id':produit.id}) }}" >
                        <div class="input-group mb-3">
                            <input type="number" name="nb" min="1" class="number form-control" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <input type="button" class="btn btn-success submitButton" value="Ajouter au panier" >
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
        <div class="return-btn mt-5 mb-5">
            <a class="btn btn-info " href="{{ path('home') }}" >Retour en boulangerie</a>
        </div>

    </div>
    {{ include('partials/footer.html.twig') }}
{% endblock %}

{% block javascripts %}

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        let url=$('form').attr('action')
        let nb=$('input.number')
        let submitButton=$('.submitButton');

        submitButton.click(function () {
            window.confirm("En confirmant votre choix sera disponible dans le panier ")

            axios({
                method: 'post',
                url: url,
                params: {
                    nb: nb.val()
                }
            })
                .then(function (reponse) {
                    //On traite la suite une fois la réponse obtenue
                    console.log(reponse);
                    nb.val(0)

                })
                .catch(function (erreur) {
                    //On traite ici les erreurs éventuellement survenues
                    console.log('bad')
                    console.log(erreur);
                });
        })

        //controller
        var controller = new ScrollMagic.Controller();

        // Création de tween = animation
        var tween = TweenMax.from("#ree", 1, {left: -700, rotation: -50, ease: Power2.easeInOut})

        var tweenLi = TweenMax.staggerFromTo('.reeLi', 0.75,
                {opacity : 0 , y:-100, ease : Power4.easeIn},
                {opacity: 1, y:0, ease : Power4.easeIn}, 0.1);

        var tweenBtn = TweenMax.staggerFromTo('.btn', 0.75,
            {opacity : 0 , x:-100, ease : Power4.easeIn},
            {opacity: 1, x:0, ease : Power4.easeIn}, 0.1);

        //Scene ScrollMagic
        var scene = new ScrollMagic.Scene({triggerElement : "#animate1", offset : -200})
                                    .triggerHook(0.4)
                                    /*.addIndicators({name : "tarte" , colorTrigger : "red", indent : 200})*/
                                    .setTween(tween)
                                    .reverse(false)
                                    .addTo(controller)

        var scene2 = new ScrollMagic.Scene({triggerElement : "#animate1", offset : -200})
                                    .triggerHook(0.5)
                                    /*.addIndicators({name : "li" , colorTrigger : "blue", indent : 100})*/
                                    .setTween(tweenLi)
                                    .reverse(false)
                                    .addTo(controller)

        var scene3 = new ScrollMagic.Scene({triggerElement : ".box", offset : -100})
                                    .triggerHook(0.4)
                                    /*.addIndicators({name : "btn" , colorTrigger : "green", indent : 250})*/
                                    .setTween(tweenBtn)
                                    .reverse(false)
                                    .addTo(controller)


        const allLetters = document.querySelectorAll('.bloc-header span');
        const ligneMaison = document.querySelector('.ligne-maison');
        const ligneBarthelemy = document.querySelector('.ligne-barthelemy');
        const TLLetters = gsap.timeline()

        TLLetters
            .from(ligneMaison, {width: '0%', opacity: 0, duration: 0.7, ease: "power1.in"})
            .from(ligneBarthelemy, {width: '0%', opacity: 0, duration: 0.7, ease: "power1.in"})
            .from(allLetters, {opacity:0, top: gsap.utils.wrap([200,-200]), stagger: 0.1, ease: "power2.out"})
            .set(ligneMaison, {width: '30vw'})
            .set(ligneBarthelemy, {width: '45vw'})

        $(".carousel-slider").owlCarousel({
            margin: 20,
            loop: true,
            autoplay: true,
            autoplayTimeout: 4000,
            autoplayHoverPause: true,
            responsive: {
                0:{
                    items:1,
                    nav: false
                },
                600:{
                    items:3,
                    nav: false
                },
                1000:{
                    items:4,
                    nav: false
                },
                1500:{
                    items:5,
                    nav: false
                },
            }
        })
    </script>
{% endblock %}




