{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/proposition code.css')}}">
    <link rel="stylesheet" href="{{ asset('css/carte.css')}}">
{% endblock %}
{% block body %}
    <div class="product-navigation mt-5 mb-5">
        {{ include('partials/menu-navigation.html.twig') }}
    </div>

    {% for produit in produits %}
        <div class="col-md-4">
            <a href="{{ path('produit_show',{'id':produit.id}) }}">
                <div class="background-carte">
                    <img class="divImg product-img" src="{{ asset( 'images/produits/'~produit.imageProduit )}}" alt="image du produit">
                    <div class="title-info">
                        <div class="title">
                            {{ produit.label }}
                        </div>
                        <div class="price">
                            {{ produit.prix }} €
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}
{% block javascripts %}
    <script>
        const allLetters = document.querySelectorAll('.bloc-header span');
        const ligneMaison = document.querySelector('.ligne-maison');
        const ligneBarthelemy = document.querySelector('.ligne-barthelemy');
        const TLLetters = gsap.timeline()

        TLLetters
            .from(ligneMaison, {width: '0%', opacity: 0, duration: 0.7, ease: "power1.in"})
            .from(ligneBarthelemy, {width: '0%', opacity: 0, duration: 0.7, ease: "power1.in"})
            .from(allLetters, {opacity:0, top: gsap.utils.wrap([200,-200]), stagger: 0.1, ease: "power2.out"})
            .set(ligneMaison, {width: '30vw'})
            .set(ligneBarthelemy, {width: '45vw'})

        const controller = new ScrollMagic.Controller();

        let scene1 = new ScrollMagic.Scene({
            triggerElement: '.appear',
            reverse: false
        })
            .setClassToggle('.appear', 'fade-in')
            /*.addIndicators({
                name: 'INDICATORS',
                indent: 200,
                colorStart: 'transparent'
            })*/
            .addTo(controller);

        let scene2 = new ScrollMagic.Scene({
            triggerElement: '.appear2',
            reverse: false
        })
            .setClassToggle('.appear2', 'fade-in')
            .addTo(controller);

        let scene3 = new ScrollMagic.Scene({
            triggerElement: '.digit1',
            offset: 10,
            triggerHook: 0.5,
            reverse: false
        })
            .setClassToggle('.digit1', 'visible')
            // .addIndicators({
            //     name: "digit1",
            //     colorStart : 'red',
            //     colorTrigger : 'red'
            // })
            .addTo(controller);

        let scene4 = new ScrollMagic.Scene({
            triggerElement: '.digit2',
            offset: 70,
            triggerHook: 0.5,
            reverse: false
        })
            .setClassToggle('.digit2', 'visible')
            // .addIndicators({
            //     name: "digit2",
            //     colorStart : 'green',
            //     colorTrigger : 'green'
            // })
            .addTo(controller);

        let scene5 = new ScrollMagic.Scene({
            triggerElement : '.digit3',
            offset: 130,
            triggerHook: 0.5,
            reverse: false
        })
            .setClassToggle('.digit3', 'visible' )
            // .addIndicators({
            //     name: "digit3",
            //     colorStart : 'black',
            //     colorTrigger : 'black'
            // })
            .addTo(controller);

        $(".carousel-slider").owlCarousel({
            margin: 20,
            loop: true,
            autoplay: true,
            autoplayTimeout: 4000,
            autoplayHoverPause: true,
            responsive: {
                0:{
                    items:1,
                    nav: false
                },
                600:{
                    items:3,
                    nav: false
                },
                1000:{
                    items:4,
                    nav: false
                },
                1500:{
                    items:5,
                    nav: false
                },
            }
        })
        let url=$('form').attr('action')
        let nb=$('input.number')
        let submitButton=$('.submitButton');

        submitButton.click(function () {
            window.confirm("En confirmant votre choix sera disponible dans le panier ")

            axios({
                method: 'post',
                url: url,
                params: {
                    nb: nb.val()
                }
            })
                .then(function (reponse) {
                    //On traite la suite une fois la réponse obtenue
                    console.log(reponse);
                    nb.val(0)

                })
                .catch(function (erreur) {
                    //On traite ici les erreurs éventuellement survenues
                    console.log('bad')
                    console.log(erreur);
                });
        })
    </script>
{% endblock %}