{{ form_start(form) }}
<div class="form-group">
    {{ form_errors(form.label) }}
</div>
<div class="form-group row">
    {{ form_label(form.label) }}
    <div class="col-sm-3">
        {{ form_widget(form.label) }}
    </div>
</div>
<div class="form-group">
    {{ form_errors(form.isAllergen) }}
</div>
<div class="form-group row">
    {{ form_label(form.isAllergen) }}
    <div class="col-sm-3">
        {{ form_widget(form.isAllergen) }}
    </div>
</div>

    <button class="btn btn-primary mb-5">{{ button_label|default('Update') }}</button>
{{ form_end(form) }}
