{% extends 'base.html.twig' %}

{% block title %}{% trans %}Create new ingredient {% endtrans %}{% endblock %}

{% block body %}

    <h1 class="mt-5 mb-5">{% trans %}Create new Ingredient {% endtrans %} </h1>
    {{ include('admin/ingredient/_form.html.twig', {'button_label': 'Save'}) }}

    <a href="{{ path('admin.ingredient.index') }}"><i class="fas fa-arrow-circle-left"></i>{% trans %}Back to list {% endtrans %}</a>

{% endblock %}

