{% extends 'base.html.twig' %}

{% block title %}{% trans %}List of ingredients {% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}List of ingredients {% endtrans %}</h1>

    <a class="btn btn-primary" href="{{ path('admin.ingredient.create') }}"><i class="fas fa-plus-square mr-2"></i>{% trans %}New ingredient {% endtrans %}</a>

    <table class="table">
        <thead>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Allergen{% endtrans %}</th>
            <th>{% trans %}Action{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.label }}</td>
                <td>{{ ingredient.isAllergen ? 'oui':'non' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('admin.ingredient.edit', {'id': ingredient.id}) }}"><i class="fas fa-edit"></i></a>
                    <form method="post" action="{{ path('admin.ingredient.delete', {id:ingredient.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sur de vouloir supprimer cette ingredient?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ingredient.id) }}">
                        <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
