{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit ingredient {% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Edit ingredient{% endtrans %}</h1>

    {{ include('admin/ingredient/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin.ingredient.index') }}"><i class="fas fa-arrow-circle-left"></i>{% trans %}Back to list{% endtrans %}</a>

{% endblock %}