{% extends 'base.html.twig' %}

{% block title %}{% trans %}List of different products for sale {% endtrans %}{% endblock %}

{% block body %}
    {{ include('partials/menu.html.twig') }}
    <div class="container">
        {% for message in app.flashes('succes') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}


        <h1 class="titre-product-list">{% trans %}List of different products for sale {% endtrans %}</h1>
        <a href="{{ path('admin_produit_create') }}"><button class="btn btn-primary mt-3 mb-3">{% trans %}Create new product {% endtrans %}</button></a>

        <section id="table-product-list">
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Prix(en €)</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for produit in produits %}
                    <tr>
                        <td>{{ produit.label }}</td>
                        <td>{{ produit.type.label }}</td>
                        <td>{{ produit.prix }}</td>
                        <td>
                            <a href="{{ path('admin_produit_modification',{'id':produit.id}) }}"><img class="svg svg-edit mr-3" src="{{ asset('img/edit.svg') }}" alt="svg edit"></a>
                            <a href="{{ path('admin_delete_produit',{'id':produit.id}) }}"><img onsubmit="return confirm('etes vous certain(e)')" class="svg svg-delete" src="{{ asset('img/delete.svg') }}" alt="svg delete"></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>

{% endblock %}



{#<div class="container">
    <div class="row ">
        {% for produit in produits %}
            <div class="col-md-4">
                <div class="car bg-light mb-3" >
                    <div class="card-header text-center">
                        <p > {% trans %}Product Classification{% endtrans %} : <strong>{{ produit.type.label }}</strong></p>
                        {{ produit.label }} <strong>{{ produit.prix}} euros </strong><br>
                    </div>
                    <div class="card-header text-center">
                        ingredient :
                        {% for ingredient in produit.ingredients %}
                            {{ ingredient.label }}
                        {% endfor %}
                    </div>
                    <a href="{{ path('produit_show',{'id':produit.id}) }}">
                        <img src="{{ asset( 'images/produits/'~produit.imageProduit )}}" style="height: 200px;width:340px;display: block" alt="image produit" ></a>
                    <div class="card-body">
                        <a href="{{ path('admin_produit_modification',{'id':produit.id}) }}"><button class="btn btn-primary">{% trans %}Edit{% endtrans %}</button></a>
                        <a href="{{ path('admin_delete_produit',{'id':produit.id}) }}"><button class="btn btn-danger" onsubmit="return confirm('etes vous certain(e)')">{% trans %}Delete{% endtrans %}</button></a>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</div>#}
