{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
{% endblock %}

{% block title %}{% trans %}Edit product {% endtrans %}{% endblock %}

{% block body %}
    <div id="edit-product" class="container edit-product">
        <h2 class="mt-5 mb-5">{% trans %}Edit product {% endtrans %} </h2>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                <div class="label-new-product input-new-product">
                    {{ form_row(form.label) }}
                </div>
                {% if produit.imageProduit %}
                    <div class="form-group row">
                        Image présente :
                        <div class="col-sm-3">
                            <img src="{{ asset( 'images/produits/'~produit.imageProduit )}}" style="height: 200px;width:340px;display: block" alt="image produit" >
                        </div>
                    </div>
                {% endif %}
                <div class="image-new-product input-new-product">
                    {{ form_row(form.imageFile) }}
                </div>
                <div class="imgVisu">
                    <img src="" alt="img prev" class="imgDw">
                    <span class="txt">Image Visu</span>
                </div>
            </div>


            <div class="col-md-6">
                <div class="input-new-product type-new-product">
                    {{ form_row(form.type) }}
                </div>
                <div class="input-new-product ingredients-new-product">
                    {{ form_row(form.ingredients) }}
                </div>
                <div class="input-new-product prix-new-product">
                    {{ form_row(form.prix) }}
                </div>
            </div>
        </div>

        <h3 class="mt-5 mb-5">Spécificités</h3>

        <div class="row">

            <div class="col-md-6">
                <div class="input-new-product isActif-new-product">
                    {{ form_row(form.isActif) }}
                </div>
                <div class="input-new-product isPromo-new-product">
                    {{ form_row(form.isPromo) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-new-product isJour-new-product">
                    {{ form_row(form.isJour) }}
                </div>
                <div class="input-new-product isVegan-new-product">
                    {{ form_row(form.isActif) }}
                </div>
            </div>
        </div>

        {#<h1 class="mt-5 mb-5">{% trans %}Edit product {% endtrans %} </h1>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_errors(form.label) }}
        </div>
        <div class="form-group row">
            {{ form_label(form.label) }}
            <div class="col-sm-3">
                {{ form_widget(form.label) }}
            </div>
        </div>
        {% if produit.imageProduit %}
            <div class="form-group row">
                Image présente :
                <div class="col-sm-3">
                    <img src="{{ asset( 'images/produits/'~produit.imageProduit )}}" style="height: 200px;width:340px;display: block" alt="image produit" >
                </div>
            </div>
        {% endif %}
        <div class="form-group">
            {{ form_errors(form.imageFile) }}
        </div>
        <div class="form-group row">
            {{ form_label(form.imageFile) }}
            <div class="col-sm-3">
                {{ form_widget(form.imageFile) }}
            </div>
        </div>
        <div class="imgVisu">
            <img src="" alt="img prev" class="imgDw">
            <span class="txt">Image Visu</span>
        </div>
        <div class="form-group">
            {{ form_errors(form.prix) }}
        </div>
        <div class="form-group row">
            {{ form_label(form.prix) }}
            <div class="col-sm-3">
                {{ form_widget(form.prix) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_errors(form.type) }}
        </div>
        <div class="form-group row">
            {{ form_label(form.type) }}
            <div class="col-sm-3">
                {{ form_widget(form.type) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_errors(form.ingredients) }}
        </div>
        <div class="form-group row">
            {{ form_label(form.ingredients) }}
            <div class="col-sm-3">
                {{ form_widget(form.ingredients) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_errors(form.isActif) }}
        </div>
        <div class="form-group row">
            {{ form_label(form.isActif) }}
            <div class="col-sm-3">
                {{ form_widget(form.isActif) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_errors(form.isJour) }}
        </div>
        <div class="form-group row">
            {{ form_label(form.isJour) }}
            <div class="col-sm-3">
                {{ form_widget(form.isJour) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_errors(form.isPromo) }}
        </div>
        <div class="form-group row">
            {{ form_label(form.isPromo) }}
            <div class="col-sm-3">
                {{ form_widget(form.isPromo) }}
            </div>
        </div>#}

        <button class="btn btn-primary mb-5">{% trans %} Update {% endtrans %}</button>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $('select').select2();

        const nvFichier = document.getElementById('produit_imageFile');
        const imgDw = document.querySelector('.imgDw');
        const txt = document.querySelector('.txt');

        nvFichier.addEventListener('change', function(){

            // console.log(this.files);
            const fichier = this.files[0];

            if(fichier) {

                const analyseur = new FileReader();

                txt.style.display = "none";
                imgDw.style.display = "block";

                analyseur.readAsDataURL(fichier);

                analyseur.addEventListener('load', function(){

                    imgDw.setAttribute('src', this.result);

                })

            }

        })


    </script>
{% endblock %}
