<div class="sidebar">
    <div class="b1"></div>
    <div class="b2"></div>
    <div class="b3"></div>

    <ul class="liste">
        <li class="items pain"><a href="{{ path('produit_pain') }}">{% trans %}Bread{% endtrans %}</a></li>
        <li class="items salade"><a href="{{ path('produit_salade') }}">{% trans %}Salad{% endtrans %}</a></li>
        <li class="items sandwich"><a href="{{ path('produit_sandwich') }}">{% trans %}Sandwich{% endtrans %}</a></li>
        <li class="items pastry"><a href="{{ path('produit_viennoiserie') }}">{% trans %}Pastry{% endtrans %}</a></li>
        <li class="items cake"><a href="{{ path('produit_patisserie') }}">{% trans %}Cake{% endtrans %}</a></li>
        <li class="items boisson"><a href="{{ path('produit_boisson') }}">{% trans %}Drink{% endtrans %}</a></li>
    </ul>
</div>