{% extends 'base.html.twig' %}

{% block title %}Hello AdminTypeController!{% endblock %}

{% block body %}
    {% for message in app.flashes('succes') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Liste des différents types </h1>
    <a href="{{ path('admin_type_create') }}"><button class="btn btn-primary">Creer un Type </button></a>
    {% for type in types %}
        <p><a href="{{ path('type_show',{'id':type.id}) }}">{{ type.label }}</a></p>
        <div class="row">
       {% for produit in type.produits |reverse %}
           <div class="col-md-4">
               <div class="car bg-light mb-3" >
                   <div class="card-header text-center">
                       {{ produit.label }} <strong>{{ produit.prix}} euros </strong><br>
                   </div>
                   <a href="{{ path('produit_show',{'id':produit.id}) }}">
                       <img src="{{ asset( 'images/produits/'~produit.imageProduit )}}" style="height: 200px;width:350px;display: block" ></a>
                   <div class="card-body">
                   </div>
                   <p > Classification du produit : <strong>{{ produit.type.label }}</strong></p>

                   <pre>
                       {% for ingredient in produit.ingredients %}
                               <p> {{ loop.index }} : {{ ingredient.label }} </p>
                           {% endfor %}
                     </pre>
               </div>
           </div>
           {% endfor %}
        </div>
        <a href="{{ path('admin_type_update',{'id':type.id}) }}"><button class="btn btn-primary">Modifier</button></a>
        <a href="{{ path('admin_type_delete',{'id':type.id}) }}"><button class="btn btn-danger" onsubmit="return confirm('etes vous certain(e)')">supprimer</button></a>
    {% endfor %}
{% endblock %}
