{% extends 'base.html.twig' %}

{% block title %}Hello AdminTypeController!{% endblock %}

{% block body %}
    <h1>Modification d'un Type d'aliment </h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn bnt-primary" value="Enregistrer">
{{ form_end(form)}}
{% endblock %}
