
{% extends 'base.html.twig' %}

{% block title %}Hello AdminTypeController!{% endblock %}

{% block body %}
<div>
    <div>
        {{ type.label }}
    </div>
    <div>
        {% for produit in type.produits %}
            <div class="col-md-4">
                <div class="car bg-light mb-3" >
                    <div class="card-header text-center">
                        {{ produit.label }} <strong>{{ produit.prix}} euros </strong><br>
                    </div>
                    <a href="{{ path('produit_show',{'id':produit.id}) }}">
                        <img src="{{ asset( 'images/produits/'~produit.imageProduit )}}" style="height: 210px;width:350px;display: block" ></a>
                    <div class="card-body">
                    </div>
                    <p > Classification du produit : <strong>{{ produit.type.label }}</strong></p>
                </div>
            </div>
    {% endfor %}
</div>
</div>
<hr>
{% endblock %}
