<h1>Activation de votre compte</h1>
<p>Bonjour {{ user.firstname }} ,vous avez créé un compte sur notre site de boulangerie et nous en sommes très heureux .
    Afin de valider votre compte,veuillez cliquer sur le lien ci-dessous : </p>
<p><a href="{{ absolute_url(path('account_activation', {'token': token})) }}">Activer mon compte pour le site boulangerie.fr </a></p>
<p style="color: #dc3545;">(Attention ce lien a une validité de 10 minutes )</p>
<hr style="border-top: dotted 3px;" />
<p>Ceci est un mail automatique, vous ne pouvez pas directement y répondre</p>
<p>Contactez nous  via votre espace client  </p>
<br>
<p>Informations légales : En application de la loi informatique et libertés en date du
    6 Janvier 1978, vous disposez d'un droit d'accès, de rectification,
    de modification et de suppression des données qui vous concernent.
    Afin de préserver l'environnement, merci de n'imprimer ce courriel qu'en cas de nécessité.</p>
