<div class="container">

    <h1>Récapitulatif de votre commande de CHRISTIAN </h1>

            {% for article in panier %}
                {% set totalArticle= article.produit.prix * article.quantity %}
                 |<img src="{{ article.produit.imageProduit}}" alt="{{ article.produit.label }}">  | Produit: {{ article.produit.label }} | Prix {{ article.produit.prix }} | <strong>Quantité:{{ article.quantity }}/strong> |Total :{{ totalArticle }} &euro;<br>
                 <p>-----------------------------------------------------------------------------------------------------</p>
            {% endfor %}
                  <strong>TOTAL DE LA COMMANDE  : {{ total }}&euro;</strong>
</div>
