{# page d'erreur générique  #}
{% extends 'base.html.twig' %}
{% block title %}Page erreur {% endblock %}
{% block body %}
    <div class="container">
        <h1>Oups!L'accès à cette page n'est pas possible , une erreur en est la cause  </h1>
        <p>
            Page d'erreur  , problème d'affichage de la page  </p>
        <a href="{{ path('home') }}" class="btn btn-info">Retour à l'accueil </a>

    </div>

{% endblock %}
