{# templates/bundles/TwigBundle/Exception/error404.html.twig  ->gestion twig de page d'erreur en prod (modifier le .env)   ou en test ( /_error/404 ) #}
{% extends 'base.html.twig' %}
{% block title %}Page non trouvée {% endblock  %}
{% block body %}
    <div class="container">
        <h1>Page non trouvée</h1>
        <p>
            La page recherchée n'est pas accessible , peut être avez vous fait une erreur ....
        </p>
        <a href="{{ path('home') }}">Retour à l'accueil </a>.

    </div>

{% endblock %}
