{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Page non autorisée {% endblock %}
{% block body %}
    <div class="container">
        <h1>Oups!L'accès à cette page ne vous est pas autorisée  </h1>
        <p>
            Cette page recherchée ne  vous est pas accessible ,autorisation refusée  </p>
        <a href="{{ path('home') }}" class="btn btn-info">Retour à l'accueil </a>

    </div>

{% endblock %}
