{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
   {#faire une card ? #}
   <p class="text-center">Bonjour  <strong>{{ user.firstName }}  {{ user.lastName }}</strong>  : Vous êtes dans votre compte personnel</p>
   <p class="text-center">Votre email: {{ user.email}} </p>

   <p class="text-center">Modifier les informations des mon compte : <button><a href="{{ path('user_update') }}">Go</a></button> </p>
   <p class="text-center">Modifier mon mot de passe  : <button><a href="{{ path('user_update_password') }}">Go</a></button> </p><br>
   <p class="text-center">Quitter : <button><a href="{{ path('home') }}">GO</a></button> </p>

{% endblock %}
