{% extends 'base.html.twig' %}
{% block title %}Hello updatePassword{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit"  class="btn btn-primary"  value="Valider les modifications">
 {{ form_end(form)}}
  <br>
    <a href="{{ path('user_monCompte') }}"><button>Annuler </button></a>
{% endblock %}
